<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aire.android.test">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name="com.aire.android.main.MainApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <service
            android:name=".service.ServiceTest"
            android:enabled="true"
            android:exported="true"></service>

        <activity
            android:name=".service.ServiceBindTestActivity"
            android:exported="true" />
        <activity
            android:name=".service.ServiceTestActivity"
            android:exported="true" />
        <activity
            android:name="com.aire.android.aidl.PhoneInfoActivity"
            android:exported="true" />
        <activity android:name="com.aire.android.textureview.TextureViewActivity" />
        <activity android:name="com.aire.android.main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>